const express = require('express');

// Constants
const PORT = 3000;
const HOST = '0.0.0.0'; // This is important for Docker

const app = express();

app.get('/', (req, res) => {
  res.send('<h1>Hello from your Amini App!</h1><p>It is currently running inside a Docker container.</p>');
});

app.listen(PORT, HOST, () => {
  console.log(`Amini app is running on http://${HOST}:${PORT}`);
});