# This is a safe and recommended .dockerignore file

# Ignore Node.js dependency folder
node_modules

# Ignore version control folder
.git

# Ignore environment variables file
.env

# Ignore log files
*.log